@import url("https://fonts.googleapis.com/css2?family=Red+Rose&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  /* color: #434343; */
  font-family: "Red Rose", cursive;
}
:root {
  font-size: 1.6rem;
  --gradient1: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  --gradient2: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}

.header__logo {
  max-width: 30rem;
  margin: 0 auto;
}
.header__logo-icon {
  height: 36.37059783935547px;
  width: 41.98614501953125px;
}
.header__logo-text {
  height: 32.19252395629883px;
  width: 188.10281372070312px;
}

.header__nav {
  flex: 0 0 50%;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-right: 18%;
}

.header__nav-link {
  text-decoration: none;
  line-height: 2.5rem;
  color: #434343;
}

.header__btn-link {
  text-decoration: none;
  color: #ffffff;
  line-height: 20px;
  padding: 15px 26px 15px 26px;
  background: var(--gradient2);
  border-radius: 10px;
  margin-right: 6.4rem;
}

.header-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6.2rem;
  /* margin-bottom: 10rem; */
}
@media only screen and (max-width: 768px) {
  .header__nav, .header__btn{
    display: none;
  }
  .header-search {
    display: flex;
    flex-direction: column;
  }
  .header-search__text{
    display: flex;
    flex-direction: column;
    width: 100vw !important;
    /* text-align: center; */
    justify-content: center;
    /* align-items: center; */
  }
}

.header-search__text {
  width: 40%;
  max-width: 50%;
  margin-right: 1.2rem;
}

div > p:first-child {
  font-size: 56px;
  font-weight: 400;
  color: #434343;
}

div > p:first-child span {
  font-weight: 400;
  color: #a02279;
  font-style: normal;
}

div > p:nth-of-type(2) {
  font-size: 0.97rem;
  font-weight: 400;
  color: #434343;
  line-height: 35px;
  width: 80%;
  margin: 48px 0 48px 0px;
}

form > input {
  width: 50%;
  height: 40px;
  border: 1px solid #d7d7d7;
}

form > input::placeholder {
  padding: 15px;
}

form > button {
  width: 30%;
  height: 41px;
  color: #ffffff;
  border: 1px solid #d7d7d7;
  background-color: #a02279;
  margin: -1px;
  border-radius: 0 5px 5px 0;
}

.header-search__card {
  display: flex;
}
.header-search__card--one {
  display: flex;
  flex-direction: column;
  margin: 4rem 0.5rem 0 -20rem;
}
.header-search__card--two {
  display: flex;
  flex-direction: column;
}
.wallet {
  background-color: #a02279;
  margin-top: 2.2rem;
}

.wallet {
  display: flex;
  justify-content: space-around;
}

.wallet__container {
  display: inline-flex;
  flex: 1;
  justify-content: space-around;
}

.wallet__some {
  display: flex;
  margin: 1rem 0 1rem 0;
}

.wallet__some > img {
  display: flex;
  width: 38px;
  height: 38px;
}

.wallet__some > a {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}

.adventures__title {
  margin: 2.4rem 0 2.4rem 0;
  text-align: center;
}
.adventures__title > h1 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #434343;
}
.adventures__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: center;
  margin: 0 200px;
}
.adventures__cards > img {
  display: flex;
  margin: 0 10px 40px 10px;
}
.nft {
  background-color: #a02279;
}
.nft__containers {
  display: flex;
  justify-content: space-around;
}
.nft__container {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.nft__text {
  width: 40%;
  align-items: center;
  color: #ffffff;
}

.nft__text > h1 {
  font-size: 2.4rem;
  font-weight: 400;
}
.nft__text > p {
  /* transform: scale(0.8); */
  margin: 0px 0px 1.5rem 0rem;
  font-weight: 400;
  line-height: 35px;
}

.nft__text-link {
  text-decoration: none;
  color: #a02279;
  padding: 15px 33px;
  border-radius: 8px;
  font-weight: 400;
  background: var(--gradient1);
}

.nft__cards-img {
  margin: 2.2rem 0rem 2.2rem 0rem;
}

.footer {
  background-color: #1d1d1e;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}

.footer__icon {
  transform: scale(0.8);
  margin-top: 1rem;
}

.footer__socials {
  padding: 1rem 0.5rem 0.5rem 0rem;
}

.footer__copywright {
  transform: scale(0.8);
  margin-left: -1.2rem;
}

.footer__lists {
  list-style: none;
  transform: scale(0.6);
}
.footer__title {
  font-size: 1.8rem;
  font-weight: 700;
}

.footer__item {
  margin-top: 1rem;
  color: #f1f3f9;
}

.place-list {
  display: flex;
  flex-wrap: wrap;
  color: #434343;
  margin-left: 10.8rem;
}

.place-item {
  display: flex;
  margin: 5rem 0rem 3rem 1rem;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* styles for screens between 769px and 1024px */
  /* harmbutger */
}

@media screen and (min-width: 1024px) and (max-width: 1669px) {
  /* styles for screens between 769px and 1024px */
  /* harmbutger */
}

@media screen and (min-width: 1025px) {
  /* styles for screens larger than 1025px */
  /* laptop small */
}
