@import url("https://fonts.googleapis.com/css2?family=Red+Rose&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  /* color: #434343; */
  font-family: "Red Rose", cursive;
}
:root {
  font-size: 1.6rem;
  --gradient1: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  --gradient2: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}
.header__logo{
  transform: scale(0.6);
  margin-left: -0.6rem;
  z-index: -1000;
}
.header__head {
  position: fixed;
  background-color: rgb(245, 248, 250);
  width: 100%;
  top: 0;
  display: flex;
  z-index: 1000;
}
.sidemenu{
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  z-index: -1;
}

.sidemenu__nav{
  width: 50vw;
  background-color: #a02278f3;
  padding: 1rem;
  height: 100vh;
}
.sidemenu__nav-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sidemenu__nav-link{
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  font-size: 0.6rem;
  list-style: none;
}
.header__nav {
  display: none;
}



.sidemenu__nav-link:hover {
  color: #a02279;
}

.sidemenu__btn-link {
  text-decoration: none;
  background-color: #a02279;
  color: #ffffff;
  font-size: 0.6rem;
  flex-wrap: nowrap;
  width: auto;
}

.container{
  padding: 1rem;
}
.header-search{
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
}

.header-search__text{
  display: flex;
  flex-direction: column;
}

div > p:first-child{
  font-size: 56px;
  font-weight: 400;
  color: #434343;

}
div > p:first-child > span{
  color: #a02279;
}
div > p:nth-of-type(2){
  font-size: 24px;
  font-weight: 400;
  color: #434343;
  margin-top: 0.5rem;
  line-height: 1.5rem;
}

form > input {
  width: 70%;
  height: 50px;
  border: 1px solid #d7d7d7;
  margin-top: 1rem;
}

form > input::placeholder {
  padding: 15px;
}

form > button {
  width: 30%;
  height: 52px;
  color: #ffffff;
  border: 1px solid #d7d7d7;
  background-color: #a02279;
  margin: -1px;
  border-radius: 0 5px 5px 0;
}

.header-search__card-card {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

.wallet {
  display: flex;
  justify-content: space-around;
  background-color: #a02279;
  margin-top: 0.8rem;
}

.wallet__container {
  display: inline-flex;
  flex: 1;
  justify-content: space-around;
}

.wallet__some {
  display: flex;
}

@media only screen and (max-width: 601px){
  .wallet{
    font-size: 60%;
  }
  .wallet__some{
    transform: scale(0.7);
  }
  .wallet__link{
    margin-top: 0.4rem;
  }
}
.wallet__some > img {
  display: flex;
  width: 38px;
  height: 38px;
}

.wallet__some > a {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}

.adventures__title{
  text-align: center;
  margin: 1.2rem 0 1.2rem 0;
}

.adventures__title h1{
  font-size: 0.8rem;
  font-weight: 400;
  color: #434343;
}

.adventures__cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.adventures__cards-img{
  margin-bottom: 1.2rem;
}

.nft{
  background-color: #a02279;
}

.nft__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nft__text h1{
  margin-bottom: 1rem;
}
.nft__text{
  color: #ffffff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  margin: 1.2rem 0 1.2rem 0;
}
.nft__text > p{
  margin-bottom: 1rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
}

.nft__text-link {
  text-decoration: none;
  color: #a02279;
  padding: 10px 28px;
  border-radius: 8px;
  font-weight: 400;
  background: var(--gradient1);
}
.nft__text-link:hover {
  background: var(--gradient2);
  color: #d7d7d7;
  padding: 1px;
}

.nft__cards-img {
  transform: scale(0.55);
  margin: -5rem 0rem -3.5rem -5.7em;

}
.nft__cards-img:hover {
  transform: scale(0.5);
}
.footer {
  background-color: #1d1d1e;
}

.footer-container {
  display: flex;
  flex-direction: column;

  color: #ffffff;
}

.footer__icon {
  transform: scale(0.8);
  margin-top: 1rem;
}

.footer__socials {
  padding: 1rem 0.5rem 0.5rem 0rem;
}
.footer__lists-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.footer__lists {
  list-style: none;
  transform: scale(0.6);
}
.footer__title {
  font-size: 1.8rem;
  font-weight: 700;
}

.footer__item {
  margin-top: 1rem;
  color: #f1f3f9;
}

.place-list {
  display: flex;
  flex-wrap: wrap;
  color: #434343;
  padding: 1rem;

}
.place__title{
  margin-top: 1.6rem;
}
.place-item {
  display: flex;
  margin: 0.2rem;
  font-size: 0.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
}
.loc{
  border: 1px solid #B4B4B4;
  padding: 0.2rem;
  border-radius: 8px;
  align-items: center;
}
